<!-- setting footer size and mt-auto so it comes under body/content also adding custom colour -->
<footer class="footer py-3 mt-auto" style="background-color: #0B1A26;">
    <div class="container">
        <span class="text-white" >&copy; CampFind 2024</span>
    </div>
</footer>
<!-- 
    bg-dark html bootstrap code@

    <footer class="footer bg-dark py-3">

    <div class="container">
        <span class="text-white bg-dark" >CampFind 2024</span>
    </div>

</footer> -->

